.pos .paymentline.selected.o_pos_mercury_swipe_pending, .pos .paymentline.o_pos_mercury_swipe_pending {
    background: rgb(239, 153, 65);
}
.pos .col-tendered.edit.o_pos_mercury_swipe_pending {
    color: rgb(239, 153, 65);
    box-shadow: 0px 0px 0px 3px rgb(239, 153, 65);
}                                