<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Get more insights.</h2>
        <h3 class="oe_slogan">Improve the performance of your organization with Flectra Surveys.</h3>
        <div class="col-md-12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="survey_sc_00.png" height="350">
            </div>
        </div>
    </div>
</section>

<section class="container oe_dark">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Easily create appealing online surveys</h2>
        <h3 class="oe_slogan">Design, share and analyze in three intuitive steps</h3>
        <p class="lead oe_mt32 oe_mb32">
        One platform to manage it all: automate appraisals, satisfaction surveys, marketing campaign, feedback forms, etc.
        </p>
        <div class="col-md-6">
            <span class="fa fa-pencil fa-2x pull-left"></span>
            <h3>
                <b>Design and test your survey</b>
            </h3>
            <p class="oe_mt16 text-justify" style="margin-left:35px;">
            Create appealing and clear survey forms with no effort thanks to Odoo&apos;s intuitive building blocks where you immediately see how it looks like. Edit inline content at any time.</p>
        </div>
        <div class="col-md-6">
            <span class="fa fa-share fa-2x pull-left"></span>
            <h3>
                <b>Share and collect data</b>
            </h3>
            <p class="oe_mt16" style="margin-left:40px;">
            Share your surveys rapidly with Odoo's built-in sharing system. Communicate about your surveys in just a few clicks.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="fa fa-search-plus fa-2x pull-left"></span>
                <h3>
                    <b>Analyze answers</b>
                </h3>
                <p class="oe_mt16 text-justify" style="margin-left:40px;">
                No need to synchronize results with your database. Odoo takes care of it automatically! Obtain results and view results charts in real time.</p>
        </div>
        <div class="col-md-6">
            <span class="fa fa-line-chart fa-2x pull-left"></span>
            <h3>
                <b>Immediately benefit from the results</b>
            </h3>
            <p class="oe_mt16" style="margin-left:45px;">
            Use your surveys&apos; results to strengthen your strategy and improve your business&apos; performance!</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="">Simple and intuitive from design to analysis</h2>
        <h3 class="oe_slogan">Gathering information is no longer time consuming</h3>
        <div class="col-md-6">
            <img class="oe_picture oe_screenshot" src="survey_feedback_form.png">
        </div>
        <div class="col-md-6">
            <p class="oe_mt32 text-justify">
            Easy from the start thanks to an extremely user-friendly interface, Odoo Surveys allows you to create and edit surveys with no effort. React to your marketing needs and provide studies anytime. Run your statistics, measure response rates and extract the analysis in a few clicks. Don&apos;t waste time on the process and focus on qualitative and quantitative analysis.
            </p>
        </div>
    </div>
</section>

<section class="container oe_separator">
</section>
