/* Clean Colors */

@color-blue: #3498DB;
@color-turquoise: #1ABC9C;
@color-green: #2ECC71;
@color-yellow: #F1C40F;
@color-orange: #E67E22;
@color-red: #E74C3C;
@color-pink: #f74b94;
@color-purple: #9B59B6;
@color-brown: #7b5844;  

@color-blue-dark: #2980B9;
@color-turquoise-dark: #16A085;
@color-green-dark: #27AE60;
@color-yellow-dark: #f3ac12;
@color-orange-dark: #D35400;
@color-red-dark: #C0392B;
@color-pink-dark: #ea3884;
@color-purple-dark: #8E44AD;
@color-brown-dark: #604434;

@color-blue-light: lighten(@color-blue, 20%);
@color-turquoise-light: lighten(@color-turquoise, 20%);
@color-green-light: lighten(@color-green, 20%);
@color-yellow-light: lighten(@color-yellow, 20%);
@color-orange-light: lighten(@color-orange, 20%);
@color-red-light: lighten(@color-red, 20%);
@color-pink-light: lighten(@color-pink, 20%);
@color-purple-light: lighten(@color-purple, 20%);
@color-brown-light: lighten(@color-brown, 20%);

@color-clouds: #ECF0F1;
@color-silver: #BDC3C7;
@color-concrete: #95A5A6;
@color-stone: #7F8C8D;
@color-asphalt: #34495E;
@color-midnight: #2C3E50;  


@color-concrete-dark: #445b5c;

/* +++++ NEW COLORS +++++ */ 

@color-wind: #f7f7f7;
@color-clay: #e1dcd5; 
@color-sand: #c5bcb1;
@color-beach: #f3bf91;
@color-forest: #254c3a;
@color-twilight: #3b2c50;
@color-burgundy: #8e362d;
@color-marine: #212d3a;

/* GRAYS --------------------------------------------------------- */ 

@gray-darker:          lighten(#000, 20%);
@gray-dark:            lighten(#000, 40%);
@gray:                 lighten(#000, 55%);
@gray-light:           lighten(#000, 70%);
@gray-lighter:         lighten(#000, 80%);

/* Backgrounds Colors ------------------------------------------------*/

@bg-blue: background(@color-blue);
@bg-turquoise: background(@color-turquoise);
@bg-green: background(@color-green); 
@bg-yellow: background(@color-yellow); 
@bg-orange: background(@color-orange); 
@bg-red: background(@color-red); 
@bg-pink: background(@color-pink);
@bg-purple: background(@color-purple); 
@bg-brown: background(@color-brown);


/* ---- Default Color HTML Class ---- */

.bg-blue      { background-color: @color-blue;}
.bg-turquoise { background-color: @color-turquoise;}
.bg-green     { background-color: @color-green;}
.bg-yellow    { background-color: @color-yellow;}
.bg-orange    { background-color: @color-orange;}
.bg-red       { background-color: @color-red;}
.bg-pink      { background-color: @color-pink;}
.bg-purple    { background-color: @color-purple;}
.bg-brown     { background-color: @color-brown;}

.text-blue      { color: @color-blue;}
.text-turquoise { color: @color-turquoise;}
.text-green     { color: @color-green;}
.text-yellow    { color: @color-yellow;}
.text-orange    { color: @color-orange;}
.text-red       { color: @color-red;}
.text-pink      { color: @color-pink;}
.text-purple    { color: @color-purple;}
.text-brown     { color: @color-brown;}                                